<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CadDrawingConfig" type="CADPlot.CadDrawingConfigSection,CADPlot" />
  </configSections>
  <CadDrawingConfig>
    <caddrawings>
      <add name="A4" canonicalmediaName="A4" LocaleMediaName="" printer="HP6000" fora4="1" papersize="210*297" stylesheet="acad.ctb" />
      <add name="A3" canonicalmediaName="A3"  LocaleMediaName="" printer="HP6000" fora4="2" papersize="420*297" stylesheet="acad.ctb" />
      <add name="A2" canonicalmediaName="A2"  LocaleMediaName="" printer="HP6000" fora4="4" papersize="594*420" stylesheet="acad.ctb" />
      <add name="A1" canonicalmediaName="A1"  LocaleMediaName="" printer="HP6000" fora4="8" papersize="841*594" stylesheet="acad.ctb" />
      <add name="A0" canonicalmediaName="A0"  LocaleMediaName="" printer="HP6000" fora4="16" papersize="1189*841" stylesheet="acad.ctb" />
      <add name="A43" canonicalmediaName="A43"  LocaleMediaName="" printer="HP6000" fora4="3" papersize="297*630" stylesheet="acad.ctb" />
      <add name="A44" canonicalmediaName="A44"  LocaleMediaName="" printer="HP6000" fora4="4" papersize="297*840" stylesheet="acad.ctb" />
      <add name="A33" canonicalmediaName="A33"  LocaleMediaName="" printer="HP6000" fora4="9" papersize="420*891" stylesheet="acad.ctb" />
      <add name="A34" canonicalmediaName="A34"  LocaleMediaName="" printer="HP6000" fora4="12" papersize="420*1188" stylesheet="acad.ctb" />
      <add name="OTHER" canonicalmediaName=""  LocaleMediaName="" printer="" fora4="0" papersize="*" stylesheet="acad.ctb" />
    </caddrawings>
  </CadDrawingConfig>
</configuration>